/* Resetting default margins and paddings */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
  height: 50px;
  background-color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  box-sizing: border-box;
  position: relative;
}

/* cursor not-allowed */
.nav-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-link.disabled {
  cursor: not-allowed;
  color: #999;
  text-decoration: none;
}

.logo {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  display: flex;
  width: 113px;
  height: 29px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* Small screens */
@media (max-width: 768px) {
  .logo {
    text-align: left;
    width: auto;
    padding: 10px 314px 11px 14px;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo::after {
    content: "nazwa firmy";
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 14px;
    display: inline-block;
    width: auto;
    height: 29px;
    display: flex;
    align-items: center;
  }

  .navigation {
    display: none;
  }

  .social-icons i {
    width: 31px;
    height: 31px;
    font-size: 31px;
  }

  .social-icons {
    gap: 18px;
  }
}

@media (max-width: 1280px) {
  .navigation {
    display: none;
  }
}

/* Main Section */
.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 14px;
  background-image: url("Landing-Page/LandingPage.jpg");
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1280px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* Stylizacja treści */
.content {
  position: relative;
  color: #fff;
  padding: 20px;
}

.content-title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 14px;
}

.content p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
}

.button {
  display: inline-block;
  width: 164px;
  height: 41px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  transition: 1s;
  box-sizing: border-box;
  text-decoration: none;
  padding: 14px 58px 14px 57px;
  line-height: 1;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button span {
  display: block;
  line-height: 1;
}

/* Styling a button on a desktop with a hover effect */
@media (min-width: 769px) {
  .button:hover {
    background-color: #fff;
    color: #000;
  }

  /* Other hover effects for elements on the desktop */
  .service-box:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
}

/* section "Our specialists" */
.about {
  padding: 34px 14px 51px 14px;
  background-color: #ffffff;
}

.about-title {
  font-size: 24px;
  color: #152d41;
  margin-bottom: 28px;
  text-align: center;
}

.specialist {
  margin-bottom: 42px;
}

.specialist-image-1 {
  width: 197px;
  height: 197px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto 14px;
  background-image: url("Photos/woman-6466907_640.jpg");
}

.specialist-image-2 {
  width: 197px;
  height: 197px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto 14px;
  background-image: url("Photos/corset-6243486_640.jpg");
}

.specialist-info .specialist-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
  text-align: left;
}

.specialist-info p {
  font-size: 14px;
  color: #000;
  text-align: left;
}

/* Section "What does our company do?" */
.offer-section {
  padding: 76px 14px;
  background-color: #405d78;
}

.section-title {
  font-size: 24px;
  color: #ffffff;
  margin-top: 76px;
  margin-bottom: 59px;
  text-align: center;
}

/* Boxy */
.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 42px;
}

.services-container {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-box {
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-box.odd {
  height: 332px;
  width: 338px;
}

.service-box.even {
  height: 330px;
  width: 337px;
}

@media (max-width: 768px) {
  .services {
    display: block;
  }

  .service-box {
    width: auto;
    margin-left: 50px;
    margin-right: 52px;
    margin-bottom: 42px;
  }

  .service-box.even {
    margin-left: 52px;
    margin-right: 52px;
  }
}

/* Dot Styles */
.new-dot {
  width: 22px;
  height: 22px;
  background-color: #e07a64;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  left: -12px;
}

/* Dot styles big size */
@media (min-width: 769px) {
  .new-dot {
    width: 22px;
    height: 22px;
    top: 33px;
    left: 33px;
  }

  .new-dot svg {
    width: 100%;
    height: 100%;
  }
}
/* Box text styles */
.service-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 2px;
}

.service-subtitle {
  font-size: 18px;
  color: #000;
  margin-top: 0;
}
/* Footer */
.footer {
  background-color: #4e4e4e;
  color: #fff;
  height: 147px;
  padding-top: 38px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.footer-text {
  margin-bottom: 15px;
}

.social-icons i {
  width: 31px;
  height: 31px;
  font-size: 31px;
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 18px;
}

.social-icons .instagram {
  margin-left: 179px;
}

.social-icons .facebook {
  margin-right: 182px;
}

/* Media Queries for Desktop */
@media (min-width: 1280px) {
  .header {
    height: 50px;
    padding: 0;
  }

  .logo {
    width: 88px;
    height: 29px;
    margin-left: 94px;
  }

  .navigation {
    display: flex;
    gap: 46px;
    margin-right: 90px;
  }

  .navigation .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #f1f1f1;
    text-decoration: none;
  }

  .landing-page {
    height: 100vh;
    padding: 0;
    justify-content: flex-start;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content {
    margin-left: 94px;
    margin-top: 181px;
  }

  .content-title {
    width: 577px;
    font-size: 36px;
  }

  .content p {
    width: 276px;
    font-size: 18px;
  }

  .button {
    margin-top: 14px;
    width: 164px;
    height: 40.744px;
  }

  /* Specialist Section */
  .about {
    padding: 78px 122px 80px 95px;
  }

  .about-title {
    width: 386px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 78px;
  }

  .specialist {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  .specialist:nth-of-type(odd) {
    flex-direction: row;
  }

  .specialist:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: left;
  }

  .specialist-image {
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 60px;
  }

  .specialist-info {
    flex: 1;
  }

  .specialist-info .specialist-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
    text-align: left;
  }

  .specialist-info p {
    font-size: 14px;
    color: #000;
    text-align: left;
  }
  .specialist:nth-of-type(even) .specialist-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0;
    text-align: right;
  }

  .specialist:nth-of-type(even) .specialist-info p {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  /* Services Section */
  .offer-section {
    background-color: #405d78;
    margin: 0 auto;
  }

  .section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 83px;
    margin-right: 110px;
    max-width: 960px;
  }

  .service-box.odd {
    height: 194px;
    width: 198px;
  }

  .service-box.even {
    height: 194px;
    width: 198px;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, 198px);
    grid-template-rows: repeat(2, 194px);
    gap: 63px;
    justify-content: center;
  }

  .service-box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    position: relative;
    transition: transform 0.5s ease;
    box-sizing: border-box;
  }

  .service-box:hover {
    transform: scale(1.05);
  }

  .service-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .service-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
  }

  .new-dot {
    position: absolute;
    top: -12px;
    left: calc(50% - 110px);
  }

  .new-dot svg {
    width: 22px;
    height: 22px;
  }
  .footer {
    background-color: #4e4e4e;
    height: 71px;
    padding: 0 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    position: relative;
  }

  .footer-text {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 94px;
    top: 13px;
  }
  .social-icons {
    position: absolute;
    right: 82px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 18px;
    align-items: center;
  }

  .social-icons svg {
    width: 31px;
    height: 31px;
  }
}
